<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/header :: header"></head>
<body>
<nav th:replace="components/nav-bar :: nav-bar"></nav>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped text-center">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <thead th:if="${!#lists.isEmpty(cardTransactions)}">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Account No</th>
                    <th class="text-center">Comment</th>
                    <th class="text-center">Transaction Type</th>
                    <th class="text-center">Transaction Account</th>
                </tr>
                </thead>
                <tbody>
                <span th:if="${#lists.isEmpty(cardTransactions)}" >You have no transactions</span>
                <tr th:each="transaction: ${cardTransactions}">
                    <td th:text="${transaction.insert_date}" />
                    <td th:text="${transaction.account_no}" />
                    <td th:text="${transaction.comment}" />
                    <td th:text="${transaction.transaction_type}" />
                    <td th:text="${transaction.amount}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>