<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/header :: header"></head>
<body>
<nav th:replace="components/nav-bar-logged-in :: nav-bar-logged-in"></nav>
<div class="container">
  <div th:if="${minDepositToCreateAccountError}">
    <div class="alert alert-danger">
      The minimum deposit to create an account is R1000.00.
    </div>
  </div>
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><strong>Account</strong></h3></div>
        <div class="panel-body">
          <table th:replace="account-list :: account-list"></table>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addAccount">
            <span class="glyphicon glyphicon-plus"></span> Account</button>
          <div th:replace="components/add-account-modal :: add-account-modal"></div>
        </div>
    </div>
  </div>
</div>

</body>
</html>